# Data Speak

## Introduction

In [1]:
# import libraries
import pandas as pd
import plotly_express as px

In [6]:
# read dataframe
df1 = pd.read_csv('dataset\Questions.csv', encoding='latin1')
df2 = pd.read_csv('dataset\Answers.csv', encoding='latin1')

In [9]:
df1.head()

,Id,OwnerUserId,CreationDate,Score,Title,Body
0,469,147.0,2008-08-02T15:11:16Z,21,How can I find the full path to a font from it...,<p>I am using the Photoshop's javascript API t...
1,502,147.0,2008-08-02T17:01:58Z,27,Get a preview JPEG of a PDF on Windows?,<p>I have a cross-platform (Python) applicatio...
2,535,154.0,2008-08-02T18:43:54Z,40,Continuous Integration System for a Python Cod...,<p>I'm starting work on a hobby project with a...
3,594,116.0,2008-08-03T01:15:08Z,25,cx_Oracle: How do I iterate over a result set?,<p>There are several ways to iterate over a re...
4,683,199.0,2008-08-03T13:19:16Z,28,Using 'in' to match an attribute of Python obj...,<p>I don't remember whether I was dreaming or ...

In [26]:
#  make column names lowercase
df1.columns = df1.columns.str.lower()
df1.columns

Index(['id', 'owneruserid', 'creationdate', 'score', 'title', 'body'], dtype='object')

In [29]:
# datafrarme info
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607282 entries, 0 to 607281
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            607282 non-null  int64
 1   owneruserid   601070 non-null  float64
 2   creationdate  607282 non-null  object
 3   score         607282 non-null  int64
 4   title         607282 non-null  object
 5   body          607282 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 27.8+ MB

In [30]:
# missing values
df2.isna().sum()

id                 0
owneruserid     5367
creationdate       0
parentid           0
score              0
body               0
dtype: int64

In [10]:
df2.head()

,Id,OwnerUserId,CreationDate,ParentId,Score,Body
0,497,50.0,2008-08-02T16:56:53Z,469,4,<p>open up a terminal (Applications-&gt;Utilit...
1,518,153.0,2008-08-02T17:42:28Z,469,2,<p>I haven't been able to find anything that d...
2,536,161.0,2008-08-02T18:49:07Z,502,9,<p>You can use ImageMagick's convert utility f...
3,538,156.0,2008-08-02T18:56:56Z,535,23,<p>One possibility is Hudson. It's written in...
4,541,157.0,2008-08-02T19:06:40Z,535,20,"<p>We run <a href=""http://buildbot.net/trac"">B..."

In [27]:
df2.columns = df2.columns.str.lower()
df2.columns

Index(['id', 'owneruserid', 'creationdate', 'parentid', 'score', 'body'], dtype='object')